In [34]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.87)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)

In [35]:
import yfinance as yf

msft = yf.Ticker("AAPL")

# get stock info
msft.info

# get historical market data
hist = msft.history(period="1y")

In [36]:
hist.reset_index(inplace=True) #將Index轉成Column
hist = hist.rename(columns = {'Date':'Date'})


data = hist[["Close", "Volume",'Date']]
print(data)

          Close     Volume                      Date
0    159.315369   88748200 2021-11-29 00:00:00-05:00
1    164.346176  174048100 2021-11-30 00:00:00-05:00
2    163.819244  152052500 2021-12-01 00:00:00-05:00
3    162.815063  136739200 2021-12-02 00:00:00-05:00
4    160.906128  118023100 2021-12-03 00:00:00-05:00
..          ...        ...                       ...
247  148.009995   58724100 2022-11-21 00:00:00-05:00
248  150.179993   51804100 2022-11-22 00:00:00-05:00
249  151.070007   58301400 2022-11-23 00:00:00-05:00
250  148.110001   35195900 2022-11-25 00:00:00-05:00
251  144.220001   69246000 2022-11-28 00:00:00-05:00

[252 rows x 3 columns]

In [37]:
import pandas as pd

data = pd.DataFrame(data)
data.to_csv('data1.csv', index = False)

In [38]:
data = pd.read_csv('data1.csv')
data

          Close     Volume                       Date
0    159.315369   88748200  2021-11-29 00:00:00-05:00
1    164.346176  174048100  2021-11-30 00:00:00-05:00
2    163.819244  152052500  2021-12-01 00:00:00-05:00
3    162.815063  136739200  2021-12-02 00:00:00-05:00
4    160.906128  118023100  2021-12-03 00:00:00-05:00
..          ...        ...                        ...
247  148.009995   58724100  2022-11-21 00:00:00-05:00
248  150.179993   51804100  2022-11-22 00:00:00-05:00
249  151.070007   58301400  2022-11-23 00:00:00-05:00
250  148.110001   35195900  2022-11-25 00:00:00-05:00
251  144.220001   69246000  2022-11-28 00:00:00-05:00

[252 rows x 3 columns]

In [39]:
data['Close']

0      159.315369
1      164.346176
2      163.819244
3      162.815063
4      160.906128
          ...
247    148.009995
248    150.179993
249    151.070007
250    148.110001
251    144.220001
Name: Close, Length: 252, dtype: float64

In [44]:
data_date = list(hist[["Date"]].iloc[:, 0]) #交易日期
data_close = list(hist[["Close"]].iloc[:, 0])#收盤價格
data_volume = list(hist[["Volume"]].iloc[:, 0])#成交量

In [41]:
V0 = hist["Volume"].mean()

In [48]:
#做價差
dif_close=[]
dif_date=[]
for i in range(len(data)-1,-1,-1): #由後面到前面
  v_sum=0
  for j in range(i-1,-1,-1):
    v_sum=0
    if (v_sum < V0):
      v_sum = v_sum + data.iloc[i, 1]  #累加 v_sum
      Spread = data['Close'][i]-data['Close'][j] #算價差 ＝ Spread
      dif_close.append(Spread) #將Spread加入dif_close
      dif_date.append([(data_date[(data_close.index(max(data_close)))]), (data_date[(data_close.index(min(data_close)))])]) #抓出日期
    else:
      v_sum = 0                         #若v_sum大於V0 初始化v_sum
      break                             #跳出迴圈


print('max(dif_close) = ',max(dif_close))
print('dif_date = ',dif_date[0])

max(dif_close) =  44.596435546875
dif_date =  [Timestamp('2022-01-03 00:00:00-0500', tz='America/New_York'), Timestamp('2022-06-16 00:00:00-0400', tz='America/New_York')]